@model Tuple<List<Collection>, List<Item>, List<Tag>>

@{
    var count = 5;
    var collections = @Model.Item1;
    var items = @Model.Item2;
    var tags = @Model.Item3;

    <div class="text-center">
    @if(collections.Count >= count && items.Count >= count){
        <h3>Biggest collections</h3>
        <div class="row container justify-content-around">
                @foreach(var collection in collections.Take(count))
                {
                    <div class="card col-sm-11 col-xl-4 shadow rounded mb-4">

                        <img class="p-1 card-img-top img-fluid" src="@Url.Action("MegaImageRead", "Collection" , new {collectionId = collection.Id})"/>


                        <div class="card-body text-center">
                            <h5 class="card-title">@collection.Name</h5>
                            <h5 class="card-subtitle">Theme: @collection.Theme</h5>
                            <p class="card-text">@Html.Raw(collection.Description)</p>
                    
                            <div>
                                <a asp-action="CollectionItems" asp-controller="Item" asp-route-collectionId="@collection.Id" class="btn btn-primary col m-2">See collection items</a>
                            </div>
                        </div>

                    </div>
                }
        </div>
                <h3 class="mt-5">Lastest items</h3>
        <div>
                <div class="row row-cols-3 justify-content-center">
            @foreach(var item in items.Take(count))
            {
                var properties = item.Properties;

                <div class="card m-3 pt-3 col text-center bg-white shadow">
                    <div>
                        <div class="card-title"><h3>@item.Name</h3></div>
                        <div class="card-text">
                            <div class="text-wrap">

                                @foreach(var tag in item.Tags)
                                {
                                    <span>@tag.Name </span>
                                }

                            </div>
                        </div>
                    </div>

                    <div>
                        <i class="bi bi-suit-heart m-2">@item.Likes.Count</i>
                        <i class="bi bi-chat-left-dots m-2">@item.Comments.Count</i>
                    </div>
                    <div class="card-footer row">
                        <form asp-action="ShowItem" asp-controller="Item" asp-route-itemId="@item.Id">
                            <div class="col"><button type="submit" class="btn btn-outline-primary">See more</button></div>
                        </form>
                    </div>
                </div>
            }
                </div>
        </div>

            
        <div class="card mt-5 my-5">
            <div class="container card-header shadow-lg">
                <h3>Tag cloud</h3>
            </div>
            <div class="container bg-white card-body">
                @foreach(var tag in tags)
                {
                    <a asp-controller="Item" asp-action="SearchItems" asp-route-searchString="@tag.Name">@tag.Name</a>  
                }
            </div>
        </div>
    }
    </div>
}