@model Dictionary<User, IEnumerable<string>>


<div class="container">
    <form>
       
                
        <div class="row">          
            <button type="submit" class="col-4 col-lg-2 btn btn-outline-danger" asp-action="Block" asp-controller="Admin">Block<i class="bi bi-shield-fill-x"></i></button>
            <button type="submit" class="col-4 col-lg-2 btn btn-outline-primary" asp-action="Unblock" asp-controller="Admin">Unblock<i class="bi bi-shield-fill"></i></button>
            <button type="submit" class="col-4 col-lg-2 btn btn-outline-danger" asp-action="Delete" asp-controller="Admin">Delete<i class="bi bi-shield-slash-fill"></i></button>
            <button type="submit" class="col-4 col-lg-2 btn btn-outline-primary" asp-action="AddToAdmin" asp-controller="Admin">Add to admin<i class="bi bi-shield-fill-plus"></i></button>
            <button type="submit" class="col-4 col-lg-2 btn btn-outline-danger" asp-action="DeleteFromAdmin" asp-controller="Admin">Delete from admin<i class="bi bi-shield-fill-minus"></i></button>
        </div>
  
        
        <table class="rounded-3 table shadow-lg">
            <tr>
                <th><input name="selectAll" class="form-check-input" type="checkbox"/> All</th>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Is Blocked</th>
                <th>Roles</th>

            </tr>

            @foreach(var userWithRoles in Model)
            { 
                var user = userWithRoles.Key;
                var roles = userWithRoles.Value;

                <tr>
                    <td><input type="checkbox" value="@user.Id" class="form-check-input cb" name="userId"/></td>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.IsBlocked</td>
                    <td>
                        @foreach(var role in roles)
                        {
                            <p class="m-1">@role</p>
                        }
                    </td>
                </tr>
            }
            
        </table>
    </form>
</div>

@section scripts{
    <script type="text/javascript">  
    $(document).on(' change', 'input[name="selectAll"]', function () {
       $('.cb').prop("checked", this.checked);
    });
    
</script> 
}