@model Tuple<Item, Collection, string>

@inject SignInManager<User> signInManager

@await Html.PartialAsync("_ChangeLike.cshtml", @Model.Item1, ViewData)

@{
    var item = @Model.Item1;
    var collection = @Model.Item2;
    var sender = @Model.Item3;


    var properties = @item.Properties;

    <div class="card m-3 text-center bg-white shadow">
            <div>
                <div class="card-title"><h3>@item.Name</h3></div>
                <div class="card-text text-center">
                    <div class="text-wrap">

                    @for(int j = 0; j < properties.Count; j++)
                {
                        <span class="mb-1">@collection.Properties[j].Name: @properties[j].PropertyValue</span><br class="m-0"/>
                }


                    @foreach(var tag in item.Tags)
                {
                        <span>@tag.Name </span>
                }
                    </div>
                </div>
            </div>
    </div>
    @if(signInManager.IsSignedIn(User))
    {
        @await Html.PartialAsync("_CreateComment.cshtml", new Comment(){ SenderId = sender, ItemId = item.Id})
    }

    <div class="text-center m-5">

        <h4>Comments for @item.Name</h4>
        
        @foreach(var comment in item.Comments)
        {
            <form method="post" asp-action="DeleteComment" asp-controller="Item" asp-route-commentId="@comment.Id">
                <div class="border-bottom border-info m-3 border-4 rounded-3 bg-white shadow-lg border-secondary text-center p-2">
                    <h5 class="mt-1 mb-4">@comment.Sender.UserName</h5>
                    <div class="row">
                        <span class="col-9 justify-content-around">@comment.Value</span>
                        @if(ViewBag.IsOwnerOrAdmin)
                        {                      
                            <span class="col text-secondary">@comment.CreationDate</span>
                            <div class="col"><button class="btn btn-outline-danger px-5" type="submit">Delete</button></div>
                        }
                        else
                        {
                            <span class="col-3">@comment.CreationDate</span>
                        }
                    </div>
                </div>
            </form>
        }
        
    </div>
}